body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #5442f1, #30307c);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: #fff;
  padding: 25px;
  border-radius: 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
  outline:5px solid rgb(62, 197, 238)
}

h2 {
  margin-bottom: 20px;
  color: #333;
}

label {
  display: block;
  text-align: left;
  font-weight: strong;
  margin-bottom: 5px;
  color: #444;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

button {
  background: #62bbf3;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 40px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

button:hover {
  background: #045895;
}

#result {
  margin-top: 15px;
  font-size: 18px;
  font-weight: Strong;
  color: #222;
}
